.font-family{
    font-family: "Open Sans", serif;
}
*{
    margin: 0 ;
    padding: 0;

}


/* header */

.header{
    background: url('../img/developer.png'),url('../img/header_bg.png'),rgb(255, 248, 243);
    background-size:75px, 550px;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    
}



/* nav related style  */
.nav-title{
    font-family: Open Sans;
font-size: 30px;
font-weight: 600;
line-height: 31px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    padding: 40px;
}

nav >ul{
    display: flex;
    align-items: center;
}
nav> ul> li{
    list-style: none;
}
nav >ul >li >a{
    margin: 20px;
    text-decoration: none;
    color: black;
}

/* this is button */

.btn-style{
    color: rgb(255, 255, 255);
font-family: Open Sans;
font-size: 15px;
font-weight: 700;
border-radius: 5px;
padding: 7px 13px;
background: rgb(253, 110, 10);
border: none;

}




/* banner related style */

.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 150px;
}

.banner-content{
    
    max-width: 390px;
}

.banner-greeting{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 13px;
}
.banner-title{
    color: rgb(24, 24, 24);
font-family: Open Sans;
font-size: 55px;
font-weight: 600;
text-align: left;
margin-bottom: 13px;
}
.banner-description{
    color: rgb(117, 117, 117);
font-family: Open Sans;
font-size: 12px;
font-weight: 300;
text-align: left;
margin-bottom: 13px;
}

.banner-pro-picture{
    width: 391px;
}